/* Font */
@font-face {
    font-family: 'pacificoregular';
    src: url('../font/pacifico-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gaeguregular';
    src: url('../font/gaegu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}    
@font-face {
    font-family: 'quicksandregular';
    src: url('../font/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* styling */
body{
  background-color: #f0efeb ;
  min-height: 100px;
}
.wrapper{
  min-height: 600px;
  margin-bottom: 0;
}
.container.quote{   
  max-width: 500px;
  background: #eddcd2;
  border-radius: 15px;
  padding: 30px 30px 25px;
  box-shadow: 12px 12px 35px rgba(221, 190, 169,1), -12px -12px 35px rgba(221, 190, 169,1);
}
.box h1{
  font-size: 35px;
  text-align: center;
  font-family: 'pacificoregular';
  margin: 0 0 20px 0;
}
.blockquote p{
  font-family: 'quicksandregular';
  font-size: 18px;
  font-weight: bold;
  margin: 8px 0 0 0;
}
.quote-arena i{
  font-size: 15px;
}
.btn.satu{
  margin: 0 5px;
}
.btn.tiga{
  margin-left: 195px;
  font-family:'gaeguregular';
}
.btn.tiga:hover{
  background-color: #03A9F4;
}
.footer{
  margin-top: 0;
  min-height: 50px;
  font-family:'quicksandregular';
}
.text-footer a{
  text-decoration: none;
  color: #54377C;
}